

/*.vadidation {*/
    /*-webkit-transition: all 1s ease-out 0.5s;*/
    /*-moz-transition: all 1s ease-out 0.5s;*/
    /*-o-transition: all 1s ease-out 0.5s;*/
    /*transition: all 1s ease-out 0.5s;*/
/*}*/

/*.validation .ng-hide {*/
    /*matgin-top: -30px;*/
    /*visibility: hidden;*/
/*}*/


.validation {
    color: rgb(255, 106, 106);
   visibility: hidden;
    font-weight: bold;
}
.close-button {
    cursor: pointer;
    webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear;
}
.close-button:hover {
    color: black;
}

.add-pupil {
    margin-bottom: 10px;
}

.create-test-container {
    margin-bottom: 71px;
}
