.ih-item.circle.effect6.colored .info {
    background: #2C3E50;
}


/*footer {*/
    /*color: #fff;*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*bottom: 0;*/
/*}*/

body {
    padding-top: 60px;
    /*padding-bottom: 80px*/
}
.ui-grid {
    box-shadow: 3px 3px 3px 3px #EDEDED;
}

.ui-grid-column-menu-button {
    display: none;
}



.ih-item.circle {
    left: 20%;
}

.ih-item .img h4 {
    color: rgb(44, 62, 80);
}

html, body {
    height:100%;
}
.page {
    min-height:100%;
    height:auto !important;
    height:100%;
    margin:0 auto -71px;
}
footer {
    background:#f00;
    height:50px;
}

.home-container {
    /*margin-top: 10%;*/
    padding-top: 3%;
}

.fade {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*height: 100%;*/
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}

.clickable .ui-grid-row .ui-grid-disable-selection {
    cursor: pointer;
    /*background-color: #0E6C59;*/
}
.clickable .ui-grid-row{
    webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
    /*background-color: rgba(48, 67, 85, 0.33);*/
}
.clickable .ui-grid-row:hover {
    /*background-color: rgba(48, 67, 85, 0.33);*/
}

.clickable .ui-grid-row:hover:nth-child(odd) .ui-grid-cell,
.clickable .ui-grid-row:hover:nth-child(even) .ui-grid-cell {
    background-color: rgba(48, 67, 85, 0.20);
    /*background-color: inherit;*/
}

.page-container {
    padding-top:10px;
}