<form class="form-horizontal account-management-modal" role="form" novalidate>

    <div class="modal-header">
        <h4 class="modal-title" id="editName">Тест</h4>
    </div>

    <div class="modal-body">
        <div class="row">
        <div class="col-md-12"><strong>{{test.name}}</strong></div>
        <div class="col-md-12">Статус: <strong>{{test.status}}</strong></div>
            </div>

    </div>

    <div class="modal-footer">
        <div ng-if="test.answers.length !== test.questions.length">
            <button ng-if="test.answers.length === 0" ng-click="goToTest()" class="btn btn-success">
                Пройти тест
            </button>
            <!--<button ng-if="test.answers.length > 0" ng-click="goToTest()" class="btn btn-success">-->
                <!--Пройти тест-->z
            <!--</button>-->
            <button type="button" class="btn btn-default"
                    ng-click="$dismiss('cancel')">
                Отмена
            </button>
        </div>
        <div ng-if="test.answers.length === test.questions.length">
            <button type="button" class="btn btn-success"
                    ng-click="$dismiss('cancel')">
                Ок
            </button>
        </div>
    </div>
</form>