<div class="create-test-container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Создание теста</h2>
            <hr class="star-primary">
        </div>
    </div>

    <div class="container form-horizontal">
        <form name="testform" action="">
            <div class="form-group">
                <label class="col-sm-2 control-label">Имя теста</label>

                <div class="col-sm-8">
                    <input name="testName" ng-model="test.name" class="form-control" required>

                    <div class="validation"
                         ng-class="{'slideDown': testform.testName.$error.required && (testform.testName.$dirty || validError)}">
                        Это поле не может быть пустым
                    </div>
                </div>
            </div>
        </form>
    </div>
    <form name="form" class="container form-horizontal" ng-repeat="question in test.questionsList track by $index">
        <div class="form-group">
            <div class="col-sm-12 text-center">
                <h3>Вопрос {{$index + 1}} <i ng-if="test.questionsList.length>1" ng-click="test.questionsList.splice($index,1)" class="fa fa-close close-button"></i> </h3>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Текст вопроса</label>

            <div class="col-sm-8">
                <textarea name="text" ng-model="question.text" class="form-control" rows="3" required></textarea>

                <div class="validation"
                     ng-class="{'slideDown': form.text.$error.required && (form.text.$dirty || validError)}">
                    Это поле не может быть пустым
                </div>
            </div>
        </div>
        <br/>

        <div class="form-group">
            <label class="col-sm-2 control-label">Ответы</label>

            <div class="col-sm-8">
                <input name="answ1" ng-model="question.answers[0]" class="form-control" required>

                <div class="validation"
                     ng-class="{'slideDown': form.answ1.$error.required && (form.answ1.$dirty || validError)}">
                    Это поле не может быть пустым
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <input name="answ2" ng-model="question.answers[1]" class="form-control" required>

                <div class="validation"
                     ng-class="{'slideDown': form.answ2.$error.required && (form.answ2.$dirty || validError)}">
                    Это поле не может быть пустым
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <input name="answ3" ng-model="question.answers[2]" class="form-control" required>

                <div class="validation"
                     ng-class="{'slideDown': form.answ3.$error.required && (form.answ3.$dirty || validError)}">
                    Это поле не может быть пустым
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <input name="answ4" ng-model="question.answers[3]" class="form-control" required>

                <div class="validation"
                     ng-class="{'slideDown': form.answ4.$error.required && (form.answ4.$dirty || validError)}">
                    Это поле не может быть пустым
                </div>
            </div>
        </div>
        <br/>

        <div class="form-group">
            <label class="col-sm-2 control-label">Правильный ответ</label>

            <div class="col-sm-8">
                <select name="correct" ng-model="question.correct" class="form-control" required>
                    <option value="0">{{question.answers[0]}}</option>
                    <option value="1">{{question.answers[1]}}</option>
                    <option value="2">{{question.answers[2]}}</option>
                    <option value="3">{{question.answers[3]}}</option>
                </select>

                <div class="validation"
                     ng-class="{'slideDown': form.correct.$error.required && (form.correct.$dirty || validError)}">
                    Это поле не может быть пустым
                </div>
            </div>
        </div>
        <br/>
    </form>
    <br/>

    <div class="container form-horizontal">
        <form name="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">Представление теста</label>

                <div class="col-sm-8">
                    <select name="view"ng-model="test.view" class="form-control" required>
                        <option ng-value="'tim'">Tim</option>
                        <option ng-value="'cars'">Cars</option>
                    </select>

                    <div class="validation"
                         ng-class="{'slideDown': form.view.$error.required && (form.view.$dirty || validError)}">
                        Это поле не может быть пустым
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="container row">
        <div class="pull-right">
            <button ng-click="saveTest()" class="btn btn-success">Готово</button>
            <button ng-click="addNew()" class="btn btn-info">Ещё один вопрос</button>
        </div>
    </div>
    <br/>

    <!--<section class="success" id="about">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-sm-12 text-center">-->
                    <!--<h2>Описание</h2>-->
                    <!--<hr class="star-light">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-sm-8 col-sm-offset-2 text-center">-->
                    <!--<p>Здесь можно создать тест, который будет преставлен в виде игры и отправлен вашим ученикам.</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">-->
                    <!--<a ng-click="testGame()" class="btn btn-lg btn-outline">Пройти созданный тест-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<hr class="star-light">-->
    <!--</section>-->
    <!--<div class="">-->
        <!--<create-game game-control="gameControl">-->
        <!--</create-game>-->
    <!--</div>-->
</div>